body {
    margin:0px;
    border:0px;
}
div.top{
    background-color:red;
    width:100%;
    height:20%;
    position:absolute;
    font-size:100%;
}
#cv{
    background-color:black;
    width:100%;
    height:100%;
}
div.canvas{
    top:19%;
    position:absolute;
    width:100%;
    height:80%;
}